<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <div class="logo img-fluid">
            <a asp-controller="Dashboard" asp-action="Index">
                <img src="/images/logo.png" />
            </a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a style="color: white" class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            @if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
            {
                @if (this.User.IsInRole("Leerkracht") || this.User.IsInRole("Beheerder"))
                {
                    <li class="nav-item">
                        <a style="color: white" class="nav-link" asp-area="" asp-controller="FotoAlbums1" asp-action="Index">FotoAlbums</a>
                    </li>
                }
                @if (this.User.IsInRole("Beheerder"))
                {
                    <li class="nav-item">
                        <a style="color: white" class="nav-link" asp-area="" asp-controller="Gebruiker" asp-action="Index">Gebruiker</a>
                    </li>
                }
                <li>
                    <a style="color: white" class="nav-link" asp-area="" asp-controller="Navormingen" asp-action="Index">Navormingen</a>
                </li>
                <li>
                    <a style="color: white" class="nav-link" asp-area="" asp-controller="Studiebezoeken" asp-action="Index">Studiebezoeken</a>
                </li>
                @if (this.User.IsInRole("Secretariaat") || this.User.IsInRole("Beheerder"))
                {
                    <li>
                        <a style="color: white" class="nav-link" asp-area="" asp-controller="Afwezigheids" asp-action="Index">Afwezigheid</a>
                    </li>
                    <li>
                        <a style="color: white" class="nav-link" asp-area="" asp-controller="Klas" asp-action="Index">Klassen</a>
                    </li>
                    <li>
                        <a style="color: white" class="nav-link" asp-area="" asp-controller="Vak" asp-action="Index">Vakken</a>
                    </li>

                }
            }
            <li class="nav-item">
                <div class="login-partial">
                    <partial name="_LoginPartial" />
                </div>
            </li>
        </ul>
    </div>



    <div class="content">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>