@model MvcProject.Models.Studiebezoek

@{
    ViewData["Title"] = "Edit";
}
<h2>Delete</h2>
<h4>Bent u zeker dat u studiebezoeken @Model.Reden wilt verwijderen?</h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="StudiebezoekId" />
    <input type="submit" value="Delete" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary">Terug</a>
</form>